import(methods)
import(Biobase)
import(S4Vectors)
import(GenomicRanges)
import(rtracklayer)
import(httpuv)
import(R6)
import(mime)
import(rjson)
import(OrganismDbi)
import(GenomeInfoDb)
import(GenomicFeatures)
import(epivizrData)
import(RMySQL)
import(RNeo4j)

exportClasses(MetavizTree)
exportClasses(EpivizMetagenomicsData)

export(startMetaviz)
